# Application configuration
PORT=
API_PREFIX=
API_VERSION=
CORS_ORIGINS="required, accept * or specific origins like http://example.com,http://another.com"

# Authentication configuration
JWT_SECRET="required"
JWT_ACCESS_TOKEN_EXPIRATION="required"
JWT_REFRESH_TOKEN_EXPIRATION="required"
EMAIL_VERIFIER_USER="required"
EMAIL_VERIFIER_PASS="required"

# Database & Cache configuration
POSTGRES_DATABASE_URL="required"
MONGODB_DATABASE_URL="required"
REDIS_URL="required"