# Application configuration
PORT="8080"
DOMAIN="localhost"
API_PREFIX="api"
API_VERSION="v1"
CORS_ORIGIN="http://localhost:3000"

# Authentication configuration
JWT_SECRET=
REFRESH_TOKEN_SECRET="anothersecret"
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
EMAIL_VERIFIER_USER=
EMAIL_VERIFIER_PASS=

# Database & Cache configuration
POSTGRES_DATABASE_URL=
MONGODB_DATABASE_URL=
REDIS_URL=

# OAuth configuration
OAUTH_SUCCESS_REDIRECT_URL="${CORS_ORIGIN}/oauth/success"

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# GitHub OAuth  
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=